@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@import url('<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">');

@mixin size {
  height: 100%;
  width: 90%;
}

@mixin flex-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  > *{
    border: 2px solid black;
    flex: 1 1 0;
    @include flex-center;
  }
}

html, #root {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  height: 100%;
}

.body {
  @include flex-center;
  flex-direction: column;
  margin: 20px;
  padding: 10px 0;
  .container {
    box-shadow: 3px 3px 10px grey;
    background: #f9f9ff;
    border: 2px solid black;
    @include flex-center;
    @include size;
    flex-direction: column;
    paddin: 10px;
    font-size: 150%;

    .line {
      @include flex-row;
    }
  }

  .button {
    padding: 15px;
    flex: 1 1 0;
  }

}
