$total_input_size: 100px;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Bitter');

html, body, #root {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', serif;
  height: 100%;
}
.container {
  background: #e1f3ff;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  @include flex-center;
}

.clientDetails {
  border-top: 2px groove  silver;
  border-bottom: 2px groove silver;
  background: #f5f5ff;
  padding: 10px;
  width: 85%;
  height: 100%;
  @include flex-center;
  > * {
    width: 70%;
  }
}

.paymentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.payment {
  padding: 30px;
  // background: #f5f5ff;
  @include flex-center;
  .line {
    > *{
      //all the direct children
      margin: 0 5px;
      flex: 1;
    }

    .paymentInput {
      flex: 0 0 $total_input_size;
      justify-content: flex-end;
    }
    margin: 0 -5px;
    display: flex;
    flex-direction: row;
  }

  .TotalPayment {
    height: 100%;
    width: 100%;
    > *{
      width: $total_input_size;
    }
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .Submit{
    border-top: 2px groove silver;
    @include flex-center;
    padding: 30px;
    height: 100%;
    width: 100%;
    >*{
      width: 50%
    }
  }
}
