$total_input_size: 100px;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px;
  @include flex-center;
}

.clientDetails {
  // border: 1.5px solid silver;
  padding: 5vmin;
  width: 80%;
  height: 100%;
  @include flex-center;
  .client{
    width: 90%;
    height: 100%;
  }
}

.payment {
  padding: 5px;
  @include flex-center;
  .line {
    > *{
      //all the direct children
      margin: 0 5px;
      flex: 1;
    }

    .paymentInput {
      flex: 0 0 $total_input_size;
      justify-content: flex-end;
    }
    margin: 0 -5px;
    display: flex;
    flex-direction: row;
  }

  .TotalPayment {
    height: 100%;
    width: 100%;
    > *{
      width: $total_input_size;
    }
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}
